{% extends 'base.html' %}

{% block 'conteudo'%}

<div class="container">    
    <div class="row">
     
    
      <div class="col-sm-12">
          
          <div class="card border-primary">
            <div class="card-header">{{cliente.nome}}</div>
            <div class="card-text">{{cliente.profissao}}</div>
            <div class="card-text">{{cliente.data_nascimento}}</div>
            <div class="card-text">{{cliente.email}}</div>
            <div class="card-text">{{cliente.endereco.rua}}</div>
            <hr>
            <div class="card-text">{{cliente.endereco.numero}}</div>
            <div class="card-text">{{cliente.endereco.bairro}}</div>
            <div class="card-text">{{cliente.endereco.cidade}}</div>
            <div class="card-text">{{cliente.endereco.estado}}</div>
            <hr>
            {% for dependente in cliente.dependente.all %}
            <div class="card-text">{{dependente.nome}}</div>
            {% endfor %}
           
            <a href={% url "editar_cliente" pk=cliente.id %}>Editar</a>
            <a href={% url "remover_cliente" pk=cliente.id %}>Excluir</a>
      
          </div>
        </div>
      
  
  
      </div>
    </div>
  </div><br>
  {% endblock %}