<!DOCTYPE html>

{% load bootstrap5 %}




<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de clientes</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <h1>Listagem de clientes</h1>
    {% for cliente in object_list %}

    {% with "Programador Engenheiro Designer" as list %}
    {% if cliente.profissao in list %}
    <li>{{cliente.nome}}</li>
    <li>{{cliente.email}}</li>
    <li>{{cliente.data_nascimento}}</li>
    {% if cliente.profissao == "Programador" %}
     <h3><li>{{cliente.profissao}}</li></h3>
    {% elif cliente.profissao == "Engenheiro" %}
    <h4><li>{{cliente.profissao}}</li></h4>
    {% else %}
    <li>{{cliente.profissao}}</li>
    
    {% endif %}

   
    <li><a href={% url "lista_cliente" pk=cliente.id %}>Exibir</a></li>
    <li><a href={% url "editar_cliente" pk=cliente.id %}>Editar</a></li>
    <li><a href={% url "remover_cliente" pk=cliente.id %}>Excluir</a></li>
    <hr>
{% endif %}
{% endwith %}
    {% empty %}
    <h3> Não há clientes cadastrados </h3>




    {% endfor %}
    <a href="{% url 'cadastrar_cliente' %}">Cadastrar</a>

</body>

</html>