{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="container">    
  <div class="row">
   
  {% for cliente in object_list %}
    <div class="col-sm-4">
        
        <div class="card border-primary">
          <div class="card-header">{{cliente.nome}}</div>
          <div class="card-text">{{cliente.profissao}}</div>
          <div class="card-text">{{cliente.data_nascimento}}</div>
          <a href="{% url "lista_cliente" pk=cliente.id %}">Exibir</a>
          <a href={% url "editar_cliente" pk=cliente.id %}>Editar</a>
          <a href={% url "remover_cliente" pk=cliente.id %}>Excluir</a>
    
        </div>
      </div>
    {% endfor %}



    </div>
  </div>
  <a href="{% url 'cadastrar_cliente' %}" class="btn btn-primary">Cadastrar Cliente</a>
<br>
</div>


{% endblock 'conteudo' %}