{% extends 'base.html' %}

{% block 'conteudo'%}

<div class="container">    
    <div class="row">
     
    
      <div class="col-sm-12">
          
          <div class="card border-primary">
            <div class="card-header">{{usuario.username}}</div>
            <div class="card-text">{{usuario.first_name}}</div>
            <div class="card-text">{{usuario.last_name}}</div>
            <div class="card-text">{{usuario.email}}</div>
           
           
<form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Remover">
    
</form>
      
          </div>
        </div>
      
  
  
      </div>
    </div>
  </div><br>
  {% endblock %}

